<div id="fullscreen_bg" class="fullscreen_bg">
    <div class="container2">
        <a class="logo" href="javascript:;"><img src="assets/images/logo.png" class="img-fluid" alt="your logo"></a>
    </div>
    <div class="container2">
        <div class="col-md-12 login-form" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Login</p>
                </div>
                <div class="panel-body">
                    <form novalidate="" #userForm="ngForm" class="form-horizontal" role="form" (ngSubmit)="login()">
                        <div class="form-group" *ngIf="error !== '' && error !== null ">
                             <div class="col-sm-12">
                                <span class="login-error">{{error}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userEmail" class="col-sm-12 control-label mg-b-3">Email</label>
                            <div class="col-sm-12">
                                <input type="text" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                                       [ngClass]="{'error-box':!userEmail.valid && (submittedFlag)}"
                                       class="form-control" id="userEmail" name="userEmail" required="true" 
                                       #userEmail="ngModel"
                                       [(ngModel)]="loginObj.email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userPassword" class="col-sm-12 control-label mg-b-3">Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="userPassword"
                                       [ngClass]="{'error-box': userPassword.errors && 
                                       submittedFlag && userPassword.errors.required}"
                                       #userPassword="ngModel"
                                       name="userPassword" required="true" 
                                       [(ngModel)]="loginObj.password"/>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-12">
                                <button type="submit" id="loginBtn"  class="btn btn-success btn-sm" [disabled]="!form.dirty">Login</button>
                                <a routerLink="/forgotpassword" routerLinkActive="active" class="btn-link" style="margin-top: 3px;">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>