em<div id="fullscreen_bg" class="fullscreen_bg">
    <div class="container2">
        <a class="logo" href="javascript:;">
            <img src="assets/images/logo.png" class="img-fluid" alt="your logo">
        </a>
    </div>
    <div class="container2">
        <div class="col-md-12 login-form" *ngIf=showForgotPasswordScreen>
            <div class="panel panel-default">
                <div class="panel-heading"> 
                    <p>Forgot your password?</p>
                </div>
                <div class="panel-body">
                    <form novalidate="" #forgetPasswordForm="ngForm" class="form-horizontal" role="form" (ngSubmit)="forgotPasword(forgetPasswordForm)">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span class="forgot-password-filled">
                                    Enter your email address below and a link will be provided to reset your password 
                                </span>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="error !== '' && error !== null ">
                             <div class="col-sm-12">
                                <span class="login-error">{{error}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userEmail" class="col-sm-12 control-label">Email</label>
                            <div class="col-sm-12">
                                <input type="text" 
                                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                                       class="form-control" id="userEmail" name="userEmail1"
                                       required="true" #userEmail="ngModel" 
                                       [(ngModel)]="forgotPasswordEmail">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success btn-sm cursor-pointer" [disabled]="!userEmail.valid">Send</button>
                                <button type="button" class="btn btn-success btn-sm back-button cursor-pointer" (click)="onClickBackButton()">Back</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 login-form" *ngIf=showSendPasswordScreen>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Forgot your password?</p>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span class="an-email-has-been-sent">
                                    An email has been sent to 
                                </span>
                            </div>
                            <div class="col-sm-12">
                                <span class="forgotten-email">
                                    {{forgotPasswordEmail}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" style="line-height:17px">
                            <div class="col-sm-9">
                                <span class="sent-a-secure-link">
                                    Click the secure link we sent you 
                                    to reset your password. If you didn't receive 
                                    an email,check your spam folder.
                                </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="return-to-login cursor-pointer" (click)="onClickBackButton()">Return to Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>